
:root
{
    --orange: #ED8C00;
    --blue: #0B2341;
    --white: #ffffff;
    --black: #000000;
    --darkGrey: #100901;
    --beige: #D9D9D8;
    --darkBeige: #b4b4b4cc;
}


.h5{
 text-align: center;   
}
.remplir-form{
    color: #1a3a61 !important;
}
.remplir-form:hover{
    cursor: pointer;
}

/*-------------APPARENCE DE L'ESPACE DE NOTIFICATIONS -------------*/

.titre-notif a{
    text-decoration: none;
    color: var(--blue);
}

.navigationRapide 
{
    margin-right: 0px;
    background-color: rgb(243, 237, 237);
    padding: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.navigationRapide h3 
{
    border-bottom: 0.5px solid var(--darkGrey);
    margin-bottom: 2%;
    border-bottom-style: dotted;
}

.navigationRapide ul{
    list-style-type: none;
    
}
.navigationRapide li {
    border: 1px solid var(--grey) ;  
    padding: 3px;
    margin: 3px;
}

.navigationRapide li:hover{
    background-color: var(--orange);
}

.liste-notifications 
{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: 3%;
    margin-bottom: 1px;
}
/*-----------------------------------------------------------------*/

.isize
{
    font-size: 75px;
}

.size2
{
    font-size: 70px;
}

html
{
    overflow-x: hidden;
}

.bg {
    min-height: 100%;
    background-color: var(--white);
}

.bonjour
{

    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: var(--darkGrey);
    text-align: center;
}



.logo
{
    color: var(--blue);
    font-size: 50px;
}


/*------------APPARENCE DES COMMUNIQUÉS-------------*/

.horizontal-scroll 
{
    overflow-x: auto; /* Permet le défilement horizontal */
    white-space: nowrap; /* Empêche le retour à la ligne automatique */
    width: 100%; /* Ajustez la largeur de la bande à votre convenance */
    border: 1px solid var(--grey); /* Bordure pour la bande (facultatif) */
    padding: 10px; /* Espace intérieur (facultatif) */
    box-shadow: 8px 8px 8px rgba(0.1, 0.1, 0.1, 0.1);
    font-size: 18px; 
    
}




.horizontal-scroll a
{
    color: var(--blue);
}



.coms-container {    
    
    min-width: 100%; /* Ajustez la largeur de la bande à votre convenance */
    border: 1px solid var(--grey); 
    padding: 10px; /* Espace intérieur (facultatif) */
    padding-right: 25px; 
    display: flex;
    flex-wrap: wrap;
    box-shadow: 8px 8px 8px rgba(0.1, 0.1, 0.1, 0.1);
    font-size: 23px;
}


.communications
{
    padding-left: 0rem;
    padding-top: 15px;
    font-size: 25px;
    text-decoration: underline;
    color: var(--black);
    margin-bottom: 20px;
}

.coms-container a
{
    color: var(--blue);
}

.monCommunique {
    text-decoration: none; 
    color: inherit; 
}

/*------------APPARENCE DES FORMS------------*/
.titreForm
{
    margin-top: 3%;
    font-size: 25px;
    text-decoration: underline;
    color: var(--black);
    margin-bottom: 20px;

}
.mesForms {    
    
    min-width: 100%; /* Ajustez la largeur de la bande à votre convenance */
    border: 1px solid var(--grey); /* Bordure pour la bande (facultatif) */
    padding: 10px; /* Espace intérieur (facultatif) */
    padding-right: 25px; 
    display: flex;
    flex-wrap: wrap;
    box-shadow: 8px 8px 8px rgba(0.1, 0.1, 0.1, 0.1);
    font-size: 23px;
}

.mesForms a
{
    color: var(--blue);
}

.monForm {
    text-decoration: none; 
    color: inherit; 

}

.card {
    display: inline-block; /* Les cartes sont disposées en ligne */
    width: 300px; 
    margin-right: 10px; /* Marge entre les cartes  */
    vertical-align: top; /* Alignement vertical en haut  */
    background-color: var(--white);
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}


.card-body {
    font-size: 23px;
    padding-top: 2px;
}
.card-body p{
    margin: 1px;
    color: var(--black);
    font-size: 18px;
}
.card-body h6{
    margin: 1px;
    color: var(--black);
    font-size: 18px;
}

.aucun-form {
    width: 100%; 
    text-align: center; 
    font-size: 18px; 
    margin-top: 20px; 
}

.card-link 
{
    background-color: var(--white); 
    text-decoration: none; 
}

.nom_form{
    font-size: 20px !important;
    text-align: center ;
    margin-bottom: 2px;
}


@media screen and (max-width: 768px) {
    img#Boucle {
        max-width: 100%; 
        height: auto; 
    }
    .bjr_container{
        margin-top: 20px;
    }
    .liste-notifications {
        flex-direction: column; 
        align-items: stretch; 
        font-size: 17px;
    }

    .navigationRapide {
        margin-right: 0; 
        margin-top: 20px;
    }
    .titreForm
    {
        margin-top: 20%;
        margin-bottom: 5%;
    }
    .communications
    {
        margin-bottom: 5%;
        
    }
}


@media screen and (max-width: 990px) {
    .card {
        max-width: 100%; 
        height: auto; 
    }
}

@media screen and (max-width: 767px) {

    .mesForms {
        max-width: 22rem; 
        height: auto; 
    }
    .card {
        min-width: 100%;
        height: auto;
    }
}
