
:root
{
    --orange: #ED8C00;
    --blue: #0B2341;
    --white: #ffffff;
    --black: #000000;
    --darkGrey: #100901;
    --beige: #D9D9D8;
    --darkBeige: #b4b4b4cc;
    --grey: #000000;
    --green: rgb(25, 158, 18);
    --red: rgb(237, 3, 3);
}

.mesForms {    
    margin-top: 3%;
    margin-left: 3%;

    min-width: 100%; 
    border: 0px solid var(--grey) ;  
    padding: 10px; 
    padding-right: 25px; 
    display: flex;
    flex-wrap: wrap;
    box-shadow: 8px 8px 8px 8px rgba(0.1, 0.1, 0.1, 0.1);
    font-size: 23px;
}

.admin_lu, .superieur_lu {
    color: var(--green) !important;
    text-transform: capitalize;
}

.admin_non_lu, .superieur_non_lu {
    color: var(--red) !important;
    text-transform: uppercase;
}