
:root
{
    --orange: #ED8C00;
    --blue: #0B2341;
    --white: #ffffff;
    --black: #000000;
    --darkGrey: #100901;
    --beige: #D9D9D8;
    --darkBeige: #b4b4b4cc;
}

.procedures li{
    border: 1px solid var(--grey) ;  
    margin: 10px;
    padding: 10px;
}

.procedures li:hover{
    background-color: var(--orange);
}
.procedures ul{
    list-style-type: none;

}
.procedures a{
    color: var(--blue);
}


.create-procedure{
    background-color: var(--blue) ;
}
.create-procedure:hover{
    background-color: var(--orange) ;
}

#lien{
    color: var(--darkBeige);
    word-wrap: break-word;
}