:root
{
    --orange: #ED8C00;
    --blue: #0B2341;
    --white: #ffffff;
    --black: #000000;
    --darkGrey: #100901;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--blue);;
    padding: 45px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


/* Style pour le formulaire */
form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
}

/* Style pour les titres */
h1 {
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 900;
    font-size: 47px;
    text-align: center;
    color: var(--orange);;
}

h5 {
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 32px;
    border-bottom:2px solid var(--blue);;
    margin: 20px;
    margin-bottom: 40px;
}
/* Style pour les étiquettes */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
.container_blessure{
    margin-top:15px ;
    margin-bottom:15px ;
}
/* Partie des témoins*/
.temoin_checkbox {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.temoin_checkbox input[type="radio"] {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
#label_temoin_oui{
    margin-right: 20px;
}


/* Partie absences*/

.absence{
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.absence input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 30x;
}

/* Partie superieur*/
.checkbox_sup {
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.superieur-group{
    margin-top: 20px;
    margin-bottom: 30px;
}
.checkbox_sup input[type="radio"] {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
#label_sup_oui{
    margin-right: 20px;
}


#nom_temoin{
   
}


/* Style pour les champs d'heure */

input[type="time"],
input[type="date"]{
    margin-bottom: 10px;
    border: 2px solid var(--orange);;
    border-radius: 3px;
    padding: 5px;

}

/* Style pour les champs de texte et les zones de texte */
input[type="text"],
textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--orange);;
    border-radius: 3px;
    transition: width 0.4s ease-in-out;

}
input[type=text]:focus {
    width: 75%;
  }

  textarea:focus {
    width: 75%;
  }

/* Style pour les champs text area et les zones de texte */

/* Style pour les cases à cocher et les boutons radio */
input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
    
}

/* Style pour le bouton Soumettre */
input[type="submit"] {
    background-color: var(--blue);;
    color: var(--orange);;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

/* Style pour le bouton Soumettre au survol */
input[type="submit"]:hover {
    background-color: var(--orange);;
    color: var(--blue);;
}

/* Style pour les messages d'erreur */
.error-message {
    color: red;
    margin-top: 5px;
}
.checkbox-group{
    margin-bottom: 20px;
    
}


/* Media query pour les appareils mobiles */
@media screen and (max-width: 480px) {
    form {
        max-width: 100%;
    }

    /* Nouveau style pour les checkboxes et radios */
    .checkbox-group label,
    .temoin-group label {
        display: block;
        margin-bottom: 5px;
    }

    .checkbox-group input[type="checkbox"],
    .temoin-group input[type="radio"] {
        margin-right: 5px;
    }

    /* Nouveau style pour le groupe Oui/Non du témoin */
    .temoin-group {
        flex-direction: row;
        align-items: center;
    }
    
    .temoin-group label {
        margin-right: 10px;
    }
}
